<!-- <div>
    <div class="sb sb-error" *ngIf="errorInfo">{{ errorInfo }}</div>

</div> -->
<div class="app-login-form">
    <app-snackbar [errorInfo]="errorInfo" *ngIf="errorInfo"></app-snackbar>
    <h2>{{isLoginMode ? 'Login': 'Sign-Up'}} here</h2>
    <app-loader *ngIf="isLoading"></app-loader>
    <form #authForm="ngForm" (ngSubmit)="onSubmitted(authForm)" *ngIf="!isLoading">
        <div class="form-input">
            <label>Email Address</label>
            <input type="email" placeholder="Email address" name="email" ngModel required>
        </div>
        <div class="form-input">
            <label>Password</label>
            <input type="password" placeholder="Password" name="password" ngModel required minlength="8">
        </div>
        <button type="submit" class="app-login-btn" [disabled]="authForm.invalid">{{isLoginMode ? 'Login':
            'Sign-Up'}}</button>
        <p>{{isLoginMode ? 'Do not have an account yet?' : 'Already have an account'}}
            <button class="app-toggle-btn" (click)="onSwitchMode()">{{isLoginMode ? 'Register Here.' : 'Login Here'}}</button>
        </p>
    </form>
</div>